<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="remitente">
        <input type="text" name = "receptor">
        <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>

    <!-- <ul>
        <ul>
            {% for usuario in users %}
                <li>{{usuario}}</li>
                <ol>
                    {% for mensaje in  messages%}
                      <li>mensaje | receiver</li>
                    {% endfor %}
                </ol>
            {% endfor %}
    </ul> -->
        
    
</body>
</html>